doctype html
html(lang="ru")
    head
        title Страничака
        script(src='/lib/jquery/jquery.js')
        link(rel='stylesheet', href='css/site.css')
        script(data-main='js/config', src="/lib/requirejs/require.js")
    body
        block content